<img class="moodvieLogo" src="../img/MOODVIEiconsandposter/MOODVIELOGO/MOODVie.jpg">
<div class="container-fluid">
    <p class="text-center text-light resultTitle">Here's your selection, happy streaming!</p>

    <div id="movies">
        <button id="closeBtn" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div id="moviesDiv">
        <img src="{{gbMovie.poster_120x171}}">
        <br>
        <p>Title:</p> {{gbMovie.title}}
        <br>
        <p>Release Year:</p> {{gbMovie.release_year}}
        <br>
        <p>Rating:</p> {{gbMovie.rating}}
        <br>
        <p>Catch this flick on any of these plaforms:</p>
        <div id="stream">
            {{#each gbMovie}}
            <div class="view">
              <p>{{gbMovie.purchase_web_sourceslink.display_name}}:</p> <a href={{gbMovie.purchase_web_sourceslink.link}}>Check it out!</a>
            </div>
            {{/each}}
        </div>

    </div>