
<img class="moodvieLogo" src="../img/MOODVIEiconsandposter/MOODVIELOGO/MOODVie.jpg">
<div class="container-fluid">
    <br>
    <p class="text-center text-light resultTitle">Here's where you can watch {{gbMovie.title}}, today!</p>

    <div id="movies">
         <div id="moviesDiv">
        <img src="{{gbMovie.poster_120x171}}">
        <br>
        <p>What's It About: {{gbMovie.overview}}</p>
        <br>

        <p>When It Came Out: {{gbMovie.release_year}}</p>
        <br>
        <p>Rated: {{gbMovie.rating}}</p>
        <br>
        <p>Availabe now on any of these plaforms:</p>
        <div id="stream">

            {{#each gbMovie.purchase_ios_sources}}
            <div class="ios">
                <a href={{link}}>
                    <p> Watch On {{display_name}} <p>
                </a>
            </div>
            {{/each}}

            {{#each gbMovie.subscription_web_sources}}
            <div class="ios">
                <a href={{link}}>
                    <p> Watch On {{display_name}} <p>
                </a>
            </div>
            {{/each}}


            {{#each gbMovie.free_web_sources}}
            <div class="ios">
                <a href={{link}}>
                    <p> Watch On {{display_name}} <p>
                </a>
            </div>
            {{/each}}

            {{#each gbMovie.free_ios_sources}}
            <div class="ios">
                <a href={{link}}>
                    <p> Watch On {{display_name}} <p>
                </a>
            </div>
            {{/each}}

        </div>
 </div>

    </div>